.journey {
  display: flex;
  padding: 24px 0;
  background-color: #ececec;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

/* .body {

   perspective: 1000px;
} */
.background {
  /* background-image: url("/public/back2.png");
   */
  opacity: 3%;
  width: 100%;
  height: 100%;
  background-size: contain;
  position: absolute;
}
/* .foreground {
  background-image: url("/public/step1.png");
  width: 100%;
  background-size: cover;
  height:  100%;
  background-repeat: no-repeat;
  background-size: contain;
}
.step2 {
  background-image: url("/public/step2.png");
  background-size: cover;
  width: 100%;
  height:  100%;
  background-repeat: no-repeat;
  background-size: contain;
}

.step3 {
  background-image: url("/public/step3.png");
  background-size: cover;
  width: 100%;
  height:  100%;

  background-repeat: no-repeat;
  background-size: contain;
}

.step4 {
  background-image: url("/public/step4.png");
  background-size: cover;
  width: 100%;
  height:  100%;

  background-repeat: no-repeat;
  background-size: contain;
}
.step5 {
  background-image: url("/public/step5.png");
  background-size: cover;
  width: 100%;
  height:  100%;
  background-repeat: no-repeat;
  background-size: contain;
}

.step6 {
  background-image: url("/public/step6.png");
  background-size: cover;
  width: 100%;
  height:  100%;
  background-repeat: no-repeat;
  background-size: contain;
} */
/* ---------> */


.container {
  background: rgb(4,16,15);
  background: linear-gradient(178deg, rgba(4,16,15,1) 35%, rgba(11,38,36,1) 84%);
  width: 100%;
  padding: 0;
  display: flex;
  flex-flow: wrap;
  flex: 0 1 auto;
  justify-content: space-evenly;
  align-items: center;
  perspective: 1000px;
}