
$secondaryBlueDark: #0d161a;
$blue2: #121f24;
$blue3: #1d2e35;
$lightGray: #40565f;
$darkRed: #621924;
$white1: #ececec;

$semi-dark-green: #0E2B27;
$dark-green: #0B2624;
$eggshell: #F7F4E1ff;
$brunswick-green: #186156;
$other-green: #335149;
$darker-green: #09211F;
$gold-metallic: #C9A730;

$gold: #ffbb1a;


.App {
  text-align: center;
  // width: 100%;
  // height: 100vh;padding
  padding: 0 2rem;
}
.name {
  max-width: 80vw;
  text-align: left;
  margin-left: 4rem;
    margin-bottom: 2rem;
  h2{
    margin-bottom: 0;
  }
}
.page1 {
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 20px;
   padding-bottom: 2%;
   margin-top: 3rem;
  width: 100%;
  max-width: 100vw;
  justify-content: center;
  justify-items: center;
  // background: rgb(4,16,15);
  // background: linear-gradient(172deg, rgba(4,16,15,1) 35%, rgba(11,38,36,1) 84%);
}
.wrapper {
  display: block;
  margin-top: 10%;
  // background-color: $secondaryBlueDark;
  z-index: -1;
  padding-top: 10%;
}

.page3 {
  padding-top: 0;
  display: grid;
  margin-top: 2rem;
  grid-template-columns: 50% 50%;
  flex-direction: column-reverse;
  // background: rgb(4, 16, 15);
  // background: linear-gradient(172deg, rgb(4, 16, 15) 35%, rgb(11, 38, 36) 84%);
  width: 100vw;
   padding-bottom: 2%;
}
.social {
  margin-left: 8px;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  font-style: italic;
  float: left;
}
.socialList {
  display: flex;
  width: -webkit-fill-available;
  height: fit-content;
  padding: 0;
  justify-content: center;
  align-items: center;

  button {
    height: 3rem;
    width: 3rem;
  }
  button :hover {
    scale: 0.5;
    transition: ease-out 0.5s;
    color: #186156;
  }
}
.socialButtons {
  height: 3rem;
  width: 3rem;
  color: #186156;
}
.scaleOnHover :hover {
  // scale: 1.257;
  color: $secondaryBlueDark;
  transition: 0.5s ease-out;
}
.scaleOnHoverGold :hover {
  // scale: 1.25;
 color: green;
  transition: 0.5s ease-out;
}
// .socialList button:hover {
//   scale: 1.25;
//   color: $dark-green;
// }

.page2 {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
  max-width: 100vw;
   padding-bottom: 2%;
   margin-top:2rem;
  // background: rgb(4,16,15);
  // background: linear-gradient(356deg, rgba(4,16,15,1) 35%, rgba(11,38,36,1) 84%);
}
.formInputField {
  background-color: $white1;
  color: $dark-green;
  border-radius: 12px;
  margin: 0 12px 12px;
  height: 32px;
  padding: 12px;
}
.myform{
  margin-top:2rem;
  color:#09211F;
}
.myform input,
textarea {
  font-family: "Playfair Display", serif;
  color: $blue2;
  font-size: medium;
  font-weight: 100;
  resize: none;
  border: 1px solid lightgray;
  &:focus,
  &:focus-visible {
    outline: none;
    border: solid 1px $dark-green;
  }
}
.intro{
  @extend .subtext;
  padding: .5rem 3rem;
}
.logotext{
    align-self: center;
    margin-bottom: 1rem;
}

// .myform input:focus,
// input:focus-visible,
// textarea:focus,
// textarea:focus-visible {
//   outline: none;
//   border: solid 4px #40565f;
// }
.skill{
  h4{
    font-weight: 300;
    font-size: 1.25rem;
    margin: 1.25rem 0;
    color: #7d7d7d;
  }
}
.peek{ 
  width:auto;
  height:35vh;
  max-height:40vh;
}
#nav {
  z-index: 2;
  display: grid;
  border-bottom: 1px solid lightgray;
    grid-auto-flow: column;
  position: relative;
  top: 0;
  background: white;
  width: 100%;
  max-width: 99vw;
  justify-content: normal;
  align-items: center;
  color: black;
}
#navigation {
  display: flex;
  background-color: transparent;
  color: black;
  width: 100%;
  height: 56px;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-bottom:0;
  // margin-right: 5%;
  ul {
    text-decoration: none;
    font-family: "Playfair Display", serif;
  }
  li {
    display: inline;
    margin: 12px;
    color: #838383;
  }
  button {
    font-family: "Playfair Display", serif;
    color: white;
    font-weight: 500;
    font-size: large;
  }
}

.textButton {
  height: fit-content;
  color: white;
  background-color:$other-green;
  padding: 12px 24px;
  border-radius: 40px;
  border: none;
}
.textButtonLight {
  @extend .textButton;
  background-color: $blue3;
}

.text {
  display: block;
  text-align: center;
  // padding-left: 10%;
 
  justify-content: center;
  font-family: "Playfair Display", serif;
  h1, h2, h3, h4, h5{ font-weight: 100;}
}
.text2 {
  @extend .text;
  padding-left: 8%;
  align-self: center;
}
.responsiveImg {
  /* display: inline-block; */
  align-content: center;
  align-self: center;
  margin: 0;
  margin-top: 0;
}
.responsiveImg2 {
  display: grid;
  vertical-align: middle;
  align-content: center;
  margin: 18px;
}
.textOnly {
  color: white;
  background-color: transparent;
  border: none;
  text-decoration: none;
}
.navLink {
  color: #2a2a2a;
  font-family: "Playfair Display", serif;
  text-decoration: none;
  font-size: medium;
  margin-right: 12px;
}
#background {
  object-fit: contain;
  height: 100%;
  width: 100%;
}
#dev {
  height: auto;
  width: 100%;
  max-height: 80vh; max-width: 60vw;
}
.highlight {
  color: #1c3c2a;
  display: inline;
  font-size: large;
  font-family: "Playfair Display", serif;
  letter-spacing: 0.4px;
  font-weight: 400;
}
.subtext {
  font-size: large;
  margin: 12px 0;
  color: black;
  height: auto;
  font-weight: 100;
  letter-spacing: 0.4px;
  width:auto;
}

#hi {
  height: auto;
  width: -webkit-fill-available;
  color:black;
  text-align: center;
  margin-top: -20px;
  /* margin-left: -40px; */
  z-index: 0;
  position: relative;
  font-size: 2rem;
  margin-bottom: 1rem;
}
#knowMore {
  margin: 0;
  font-family: "Playfair Display", serif;
  font-weight: 100;
  font-size: medium;
  button:hover {
    scale: 1.2;
    background-color: $gold-metallic;
  }
}

#me {
  position: absolute;
  top: 30%;
  left: 10%;
  width: 40%;
  height: 35%;
}
.sendButton {
  display: flex;
  justify-content: center;
  margin: 24px 8px;
  button {
    width: 80%;
    transition: 0.4s ease-out;
    @extend .textButton;
    background-color: #09211F;
    &:hover {
      scale: 1;
      background-color: $gold-metallic;
    }
  }
}
.knowMoreButton{
  @extend .sendButton;
  justify-content: center;
  margin: 16px 0;
}

.skills1 {
  display: inline-flex;
  perspective: 1000px;
  transform-style: preserve-3d;
  color: #7a887b;
  justify-content: space-around;
  width: 100%;
  cursor: default;
  :hover {
    scale: 1.2;
    transition: all 0.5s ease-out;
    color: $gold;
  }
}
.footerSocial{
  display: "flex";
  align-items: "center"; 
  width: "100%"; 
  max-width:"50vw"; 
  justify-content:"space-around";
  a{
    margin-right: 12px;
  }
}
.footerName {
    display: "flex";
  align-items: "center";
  div{
    display: block;
    align-self: center;
    margin-left: 1rem;
  }
}
@media screen and (min-width: 320px) {
  .peek{
    height: 20vh;
  }
  .App {
    padding: 0 1rem;
  }
  .name {
    font-size: 1rem;
    max-width: 100vw;
    text-align: center;
    margin-left: 0;
  }
  .page1 {
    display: block;
    margin-top: 0;
  }
  .responsiveImg {
    margin: 0;
  margin-bottom: 30px;

  }
  .responsiveImg2 {
    // margin-top: 10%;
  }
  .text {
    // padding-left: 12px;
    // padding-right: 12px;
  }
  .text2 {
    padding-left: 8%;
    margin-right: 12px;
  }
  #nav{    grid-auto-flow: row;}
  #navigation {
    padding-left:0;
    margin-top: 0;
    justify-content: center;
    // display: none;
  // margin-right: 5%;
  }
  #navigation button {
    font-size: medium;
  }
  .page2 {
    display: flex;
    flex-direction: column;
  }
  .page3 {
    display: block;
  }
  .textButton {
    margin: 0;
    padding: 8px;
    font-size: 12px;
  }
  .myFooter{
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 0.75rem 0;
    align-items: center;
    border-top: solid 1px #d8d8d8;
   div {
      color: #8b8b8b;
      text-align: left;
    }
    a{
      color: #8b8b8b;
      text-decoration: none;
    }

    .footerName{
      display: flex;
      div{
      display: none;
    }
    }
  }
  #knowMore {
    padding: 0;
  }
  .social{
    margin-bottom: 2rem;
  }
}
@media screen and (min-width: 768px) {

  .name{
    font-size: 1.5rem;
  }
  .peek{
    height: 30vh;
  }
  .App {
    padding: 0 2rem;
  }
  #me {
    width: 40%;
    height: 50%;
    left: 5%;
    top: 20%;
  }
  // #hi {
  //   font-size: 40px;
  // }
  .page1 {
    display: grid;
    align-content: center;
    align-items: center;
    
  }
  .responsiveImg {
    margin: 0 0 20px 0;
    margin-top: 0;
  }

  .text {
    // padding-left: 10%;
    // padding-right: 8%;
    font-size: 14px;
    max-width: 50vw;
  }
  .text2 {
    padding-left: 0;
    margin-right: 0;
    font-size: 14px;
  }
  #nav{
    grid-auto-flow: column;
  }
  #navigation {
    justify-content:center;
    display: flex;
    // margin-right: 5%;
  }
  #navigation button {
    font-size: large;
  }
  .textButton {
    padding: 8px 12px;
    margin: 0;
  }
  #knowMore {
    padding: 8px;
  }
  .page2 {
    display: grid;
  }
  .page3 {
    display: grid;
  }
  .social {
    // margin-top: 12px;
  }
  .myFooter .footerName div{
      display: block;

  }
  #h1{
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1024px) {
  // #hi {
  //   font-size: 60px;
  // }
  #me {
    width: 40%;
    height: 60%;
    left: 5%;
    top: 20%;
  }
  .page1 {
    display: grid;
  }
  .text {
    font-size: 20px;
  }
  .text2 {
    font-size: 20px;
  }
  .textButton {
    padding: 12px 20px;
    margin: 0;
  }
  #knowMore {
    padding: 0;
  }
  .socialList button {
    scale: 2;
    margin-right: 20px;
  }
  .socialList button:hover,
  button::after {
    scale: 2;
    color: $dark-green;
    transition: 0.5s ease-out;
  }
  #h1{
    font-size: 2rem;
  }
}

