
$secondaryBlueDark: #0d161a;
$blue2: #121f24;
$blue3: #1d2e35;
$lightGray: #40565f;
$darkRed: #621924;
$white1: #ececec;

$semi-dark-green: #0E2B27;
$dark-green: #0B2624;
$eggshell: #F7F4E1ff;
$brunswick-green: #186156;
$other-green: #335149;
$darker-green: #09211F;
$gold-metallic: #C9A730;

$gold: #ffbb1a;


.App {
  text-align: center;
  width: 100%;
  height: 100vh;
}
.page1 {
  display: grid;
  grid-template-columns: 55% 45%;
  /* align-items: center; */
  width: 100vw;
  background: rgb(4,16,15);
  background: linear-gradient(172deg, rgba(4,16,15,1) 35%, rgba(11,38,36,1) 84%);
}
.wrapper {
  display: block;
  margin-top: 10%;
  // background-color: $secondaryBlueDark;
  z-index: -1;
  padding-top: 10%;
}

.page3 {
  padding-top: 0;
  display: grid;
  grid-template-columns: 50% 50%;
  flex-direction: column-reverse;
  background: rgb(4, 16, 15);
  background: linear-gradient(172deg, rgb(4, 16, 15) 35%, rgb(11, 38, 36) 84%);
  width: 100vw;
  padding-bottom: 10%;
}
.social {
  margin-left: 8px;
  display: block;
  font-style: italic;
  float: left;
}
.socialList {
  display: flex;
  width: -webkit-fill-available;
  height: 25px;
  margin-left: -8px;
  padding: 0;
  justify-content: flex-start;
  align-items: center;
  button :hover {
    scale: 1.25;
    color: $dark-green;
  }
}
.scaleOnHover :hover {
  scale: 1.257;
  color: $secondaryBlueDark;
}
.scaleOnHoverRed :hover {
  scale: 1.25;
  color: $gold-metallic;
}
// .socialList button:hover {
//   scale: 1.25;
//   color: $dark-green;
// }

.page2 {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100vw;
  padding-top: 1%;
  padding-bottom: 5%;
  background: rgb(4,16,15);
  background: linear-gradient(356deg, rgba(4,16,15,1) 35%, rgba(11,38,36,1) 84%);
}
.formInputField {
  background-color: $white1;
  color: $dark-green;
  border-radius: 12px;
  margin: 0 12px 12px;
  height: 32px;
  padding: 12px;
}

.myform input,
textarea {
  font-family: "Playfair Display", serif;
  color: $blue2;
  font-size: medium;
  font-weight: 100;
  resize: none;
  &:focus,
  &:focus-visible {
    outline: none;
    border: solid 4px $lightGray;
  }
}
// .myform input:focus,
// input:focus-visible,
// textarea:focus,
// textarea:focus-visible {
//   outline: none;
//   border: solid 4px #40565f;
// }
#nav {
  z-index: 2;
  position: sticky;
  top: 0;
  display: flex;
  background: rgb(4, 16, 15);
  width: 100%;
  min-width: 100vw;
  justify-content: space-between;
  align-items: center;
}
#navigation {
  display: flex;
  background-color: transparent;
  color: white;
  width: 100%;
  height: 56px;
  align-items: center;
  text-align: center;
  justify-content: flex-end;
  margin-right: 5%;
  ul {
    text-decoration: none;
    font-family: "Playfair Display", serif;
  }
  li {
    display: inline;
    margin: 12px;
  }
  button {
    font-family: "Playfair Display", serif;
    color: white;
    font-weight: 500;
    font-size: large;
  }
}

.textButton {
  height: fit-content;
  color: white;
  background-color:$other-green;
  padding: 12px 24px;
  border-radius: 40px;
  border: none;
}
.textButtonLight {
  @extend .textButton;
  background-color: $blue3;
}

.text {
  display: block;
  text-align: center;
  padding-left: 10%;
 
  justify-content: center;
  font-family: "Playfair Display", serif;
  h1, h2, h3, h4, h5{ font-weight: 100;}
}
.text2 {
  @extend .text;
  padding-left: 8%;
  align-self: center;
}
.responsiveImg {
  /* display: inline-block; */
  align-content: center;
  align-self: center;
  margin: 0;
  margin-top: 0;
}
.responsiveImg2 {
  display: grid;
  vertical-align: middle;
  align-content: center;
  margin: 18px;
}
.textOnly {
  color: white;
  background-color: transparent;
  border: none;
  text-decoration: none;
}
.navLink {
  color: $white1;
  font-family: "Playfair Display", serif;
  text-decoration: none;
  font-size: large;
  margin-right: 12px;
}
#background {
  object-fit: contain;
  height: 100%;
  width: 100%;
}
#dev {
  height: auto;
  width: 100%;
}
.highlight {
  color: $gold;
  display: inline;
  font-size: large;
  font-family: "Playfair Display", serif;
  letter-spacing: 0.4px;
  font-weight: 400;
}
.subtext {
  font-size: large;
  margin: 12px 0;
  color: ghostwhite;
  height: auto;
  font-weight: 100;
  letter-spacing: 0.4px;
  width: -webkit-fill-available;
}

#hi {
  height: auto;
  width: -webkit-fill-available;
  color:ghostwhite;
  text-align: center;
  margin-top: -20px;
  /* margin-left: -40px; */
  z-index: 0;
  position: relative;
  font-size: 4rem;
  margin-bottom: 3rem;
}
#knowMore {
  margin: 12px;
  font-family: "Playfair Display", serif;
  font-weight: 100;
  font-size: medium;
  button:hover {
    scale: 1.2;
    background-color: $gold-metallic;
  }
}

#me {
  position: absolute;
  top: 30%;
  left: 10%;
  width: 40%;
  height: 35%;
}
.sendButton {
  display: flex;
  justify-content: center;
  margin: 24px 8px;
  button {
    width: 80%;
    &:hover {
      scale: 1.2;
      background-color: $gold-metallic;
    }
  }
}
.knowMoreButton{
  @extend .sendButton;
  justify-content: left;
  margin: 16px 0;
}

.skills1 {
  display: inline-flex;
  perspective: 1000px;
  transform-style: preserve-3d;
  color: $brunswick-green;
  justify-content: space-around;
  width: 100%;
  cursor: default;
  :hover {
    scale: 1.2;
    transition: all 0.5s ease-out;
    color: $gold;
  }
}

@media screen and (min-width: 320px) {
  .page1 {
    display: block;
  }
  .responsiveImg {
    margin: 0;
  }
  .responsiveImg2 {
    // margin-top: 10%;
  }
  .text {
    padding-left: 8%;
    padding-right: 12px;
  }
  .text2 {
    padding-left: 8%;
    margin-right: 12px;
  }
  #navigation {
    justify-content: flex-end;
  margin-right: 5%;
  }
  #navigation button {
    font-size: medium;
  }
  .page2 {
    display: flex;
    flex-direction: column-reverse;
  }
  .page3 {
    display: block;
  }
  .textButton {
    margin: 0;
    padding: 8px;
    font-size: 12px;
  }
  .myFooter{
    background-color: black;
    padding-bottom: 20px;
  }
  #knowMore {
    padding: 0;
  }
}
@media screen and (min-width: 768px) {
  #me {
    width: 40%;
    height: 50%;
    left: 5%;
    top: 20%;
  }
  // #hi {
  //   font-size: 40px;
  // }
  .page1 {
    display: grid;
  }
  .responsiveImg {
    margin: 20px;
    margin-top: 0;
  }

  .text {
    padding-left: 10%;
    padding-right: 12px;
    font-size: 14px;
  }
  .text2 {
    padding-left: 0;
    margin-right: 24px;
    font-size: 14px;
  }
  #navigation {
    justify-content: flex-end;
    margin-right: 5%;
  }
  #navigation button {
    font-size: large;
  }
  .textButton {
    padding: 8px 12px;
    margin: 0;
  }
  #knowMore {
    padding: 8px;
  }
  .page2 {
    display: grid;
  }
  .page3 {
    display: grid;
  }
  .social {
    margin-top: 12px;
  }
}
@media screen and (min-width: 1024px) {
  // #hi {
  //   font-size: 60px;
  // }
  #me {
    width: 40%;
    height: 60%;
    left: 5%;
    top: 20%;
  }
  .page1 {
    display: grid;
  }
  .text {
    font-size: 20px;
  }
  .text2 {
    font-size: 20px;
  }
  .textButton {
    padding: 12px 20px;
    margin: 0;
  }
  #knowMore {
    padding: 0;
  }
  .socialList button {
    scale: 1.5;
    margin-right: 20px;
  }
  .socialList button:hover,
  button::after {
    scale: 2;
    color: $dark-green;
  }
}
