body {
  overflow-x: hidden;
  margin: 0;
  font-family: "Playfair Display", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: white;
  color: black;
  letter-spacing: 0.4px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    "Playfair Display", serif;
}
